<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soft1921.boot.mybatis.mapper.CourseMapper">
  <!--  <resultMap id="BaseResultMap" type="soft1921.boot.mybatis.domain.Course">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    &lt;!&ndash;@Table t_course&ndash;&gt;-->
  <!--    <id column="course_id" jdbcType="INTEGER" property="courseId" />-->
  <!--    <result column="course_name" jdbcType="VARCHAR" property="courseName" />-->
  <!--  </resultMap>-->
  <!--  <sql id="Base_Column_List">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    course_id, course_name-->
  <!--  </sql>-->
  <!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    select -->
  <!--    <include refid="Base_Column_List" />-->
  <!--    from t_course-->
  <!--    where course_id = #{courseId,jdbcType=INTEGER}-->
  <!--  </select>-->
  <!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    delete from t_course-->
  <!--    where course_id = #{courseId,jdbcType=INTEGER}-->
  <!--  </delete>-->
  <!--  <insert id="insert" keyColumn="course_id" keyProperty="courseId" parameterType="soft1921.boot.mybatis.domain.Course" useGeneratedKeys="true">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    insert into t_course (course_name)-->
  <!--    values (#{courseName,jdbcType=VARCHAR})-->
  <!--  </insert>-->
  <!--  <insert id="insertSelective" keyColumn="course_id" keyProperty="courseId" parameterType="soft1921.boot.mybatis.domain.Course" useGeneratedKeys="true">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    insert into t_course-->
  <!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
  <!--      <if test="courseName != null">-->
  <!--        course_name,-->
  <!--      </if>-->
  <!--    </trim>-->
  <!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
  <!--      <if test="courseName != null">-->
  <!--        #{courseName,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--    </trim>-->
  <!--  </insert>-->
  <!--  <update id="updateByPrimaryKeySelective" parameterType="soft1921.boot.mybatis.domain.Course">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    update t_course-->
  <!--    <set>-->
  <!--      <if test="courseName != null">-->
  <!--        course_name = #{courseName,jdbcType=VARCHAR},-->
  <!--      </if>-->
  <!--    </set>-->
  <!--    where course_id = #{courseId,jdbcType=INTEGER}-->
  <!--  </update>-->
  <!--  <update id="updateByPrimaryKey" parameterType="soft1921.boot.mybatis.domain.Course">-->
  <!--    &lt;!&ndash;@mbg.generated&ndash;&gt;-->
  <!--    update t_course-->
  <!--    set course_name = #{courseName,jdbcType=VARCHAR}-->
  <!--    where course_id = #{courseId,jdbcType=INTEGER}-->
  <!--  </update>-->
  <resultMap id="CourseMap" type="soft1921.boot.mybatis.domain.Course">
    <id column="course_id" property="courseId"/>
    <result column="course_name" property="courseName"/>
    <collection property="students" ofType="soft1921.boot.mybatis.domain.Student1">
      <id column="student_id" property="studentId"/>
      <result column="hometown" property="hometown"/>
      <result column="student_name" property="studentName"/>
      <result column="birthday" property="birthday"/>

    </collection>
  </resultMap>

  <select id="selectAll" resultMap="CourseMap">
    select  c.course_id,c.course_name,s.student_id,s.student_name,s.hometown,s.birthday
    from t_course c
                 left join t_course_student cs
            on c.course_id = cs.course_id
                 left join t_student1 s
            on cs.student_id = s.student_id
  </select>
</mapper>